<!-- Footer Section Start -->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
          <ul class="social-icon">
            <li>
              <a class="facebook" href="facebook.com/yustian18"><i class="icon-social-facebook"></i></a>
            </li>
            <li>
              <a class="instagram" href="http://instagram.com/ray.yustian"><i class="icon-social-instagram"></i></a>
            </li>
            <li>
              <a class="linkedin" href="linkedin.com/in/yustian-ray-765612147"><i class="icon-social-linkedin"></i></a>
            </li>
          </ul>
          <p>Yustian Ray © 2018</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->