<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center; margin: auto;">
        <div class="wow fadeInLeft" data-wow-delay="0.3s">
          <img class="img-fluid" src="assets/img/about/about-1.png" alt="" style="max-width: 50%;">
          <br><br>
          <p>I have a true passion for Web Development and Cyber Security. I followed the latest blogs and
            participated in cyber security competitions, and in my spare time, playing on weekly CTFs, practicing web
            development, and completing Rubik's cube in less than 2 minutes.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
          <h3>Skills</h3>
          <hr />
          <p>Programming Language</p>
          <p>&ensp;C, C++, Java, JavaScript, Python</p>
          <br>
          <p>Backend</p>
          <p>&ensp;Node JS & Express JS</p>
          <br>
          <p>Frontend</p>
          <p>&ensp;HTML, CSS, Angular, React JS</p>
          <br>
          <p>Database</p>
          <p>&ensp;MySQL, MongoDB, Mongoose, PostgreSQL, MSSQL</p>
          <br>
          <p>Cloud</p>
          <p>&ensp;Firebase DB, Heroku, Netlify</p>
          <br>
          <p>Others</p>
          <p>&ensp;Git & GitHub, REST API</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->