  <!-- About Section Start -->
  <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center;">
            <div class="wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="assets/img/about/about-1.png" alt="" style="max-width: 50%;">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <p>I have a true passion for Web Development and Cyber Security. I followed the latest blogs and
                participated in cyber security competitions, and in my spare time, playing on weekly CTFs, practicing web
                development, and completing Rubik's cube in less than 1 minute.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Yustian Ray</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">ray.yustian@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->