<!-- Portfolio Section -->
<section id="portfolios" class="section-padding">
  <!-- Container Starts -->
  <div class="container">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Projects</h2>
    <div class="row">
      <div class="col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center">
          <a class="filter active btn btn-common" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common" data-filter=".design">
            Node JS
          </a>
          <a class="filter btn btn-common" data-filter=".development">
            Angular
          </a>
          <a class="filter btn btn-common" data-filter=".print">
            React
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/catfriends.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/img/gallery/projects/catfriends.jpg">
                    <i class="icon-eye"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/shoppingcart.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/img/gallery/projects/shoppingcart.jpg">
                    <i class="icon-eye"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/pajakbumibangunan.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/img/gallery/projects/pajakbumibangunan.jpg">
                    <i class="icon-eye"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/perpustakaan.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/img/gallery/projects/perpustakaan.jpg">
                    <i class="icon-eye"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->