<!-- Portfolio Section -->
<section id="portfolios" class="section-padding">
  <!-- Container Starts -->
  <div class="container">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Projects</h2>
    <div class="row">
      <div class="col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center">
          <a class="filter active btn btn-common" data-filter="all">
            All
          </a>
          <a class="filter btn btn-common" data-filter=".design">
            Node JS
          </a>
          <a class="filter btn btn-common" data-filter=".development">
            Angular
          </a>
          <a class="filter btn btn-common" data-filter=".print">
            React
          </a>
          <a class="filter btn btn-common" data-filter=".laravel">
            Laravel
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/facerecognition.jpg" alt="" />
              <div class="overlay">
                <div class="caption">
                  <h3><a href="https://raray.herokuapp.com/" class="link-color">Face Recognition</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/catfriends.jpg" alt="" />
              <div class="overlay">
                <div class="caption">
                  <h3>Catfriends</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix laravel">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/perpustakaan.jpg" alt="" />
              <div class="overlay">
                <div class="caption-long">
                  <h3>Sistem Informasi Perpustakaan</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/shoppingcart.jpg" alt="" />
              <div class="overlay">
                <div class="caption">
                  <h3>Shopping Cart</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/chat.jpg" alt="" />
              <div class="overlay">
                <div class="caption">
                  <h3>ChatApp</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix laravel">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/pajakbumibangunan.jpg" alt="" />
              <div class="overlay">
                <div class="caption-long">
                  <h3>Sistem Informasi Pajak Bumi dan Bangunan</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/img/gallery/projects/cpuscheduling.jpg" alt="" />
              <div class="overlay">
                <div class="caption">
                  <h3>CPU Scheduling</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->