<!-- Blog Section -->
<section id="blogs" class="section-padding">
    <!-- Container Starts -->
    <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Blog</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- Blog Controller/Buttons -->
                <div class="controls text-center">
                    <a class="active btn btn-common">
                        CTF Writeup
                    </a>
                </div>
                <!-- Blog Controller/Buttons Ends-->
            </div>

            <!-- Recent Blog -->
            <div id="blog" class="row wow fadeInDown" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix ctf">
                    <div class="blog-item">
                        <div class="shot-item">
                            <img src="assets/img/gallery/blog/arkavidia.jpg" alt="" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3><a href="https://aorsec.wordpress.com/2019/01/13/arkavidia-5-magic/">Arkavidia 5
                                            - Magic</a>
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix ctf">
                    <div class="blog-item">
                        <div class="shot-item">
                            <img src="assets/img/gallery/blog/gemastik.jpg" alt="" />
                            <div class="overlay">
                                <div class="caption">
                                    <h3><a href="https://aorsec.wordpress.com/2018/10/16/gemastik-11-kecil/" class="link-color">Gemastik 11 - Kecil</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>
<!-- Blog Section Ends -->